Repository skyfr0676/EXILED, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, GitHub, API, Transpiler, Base-Game-Bug, CustomModules, Installer

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: docs/** # Any modifications to Documentation
  - any-glob-to-any-file: EXILED/Localization/** # Any modifications to Localization

GitHub:
- changed-files:
  - any-glob-to-any-file: '**/*.nuspec' #NuGet
  - any-glob-to-any-file: '**/*.ps1' # Windows
  - any-glob-to-any-file: '**/*.sh' # Linux
  - any-glob-to-any-file: .github/** # Any modifications to github related files

Events: # Add the 'Events' label
- all:
    - changed-files:
        - any-glob-to-any-file: 'EXILED/Exiled.Events/**/*'
        - all-globs-to-all-files: '!EXILED/Exiled.Events/Patches/**/*'
API: # Add the 'API' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.API/** # Any modifications to the API

Transpiler: # Add the 'transpiler' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/**/* # Any modifications to transpiler files

Base-Game-Bug:
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/Fixes/**/* # Any modifications to transpiler fixes files

CustomModules: # Add the 'CustomModules' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Custom*/** # Any modifications to Exiled.Custom* file

Installer: # Add the 'Installer' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Installer/** # Any modifications to the Installer

Fix Cast Issue
  EXILED/Exiled.Events/EventArgs/Player/DamagingShootingTargetEventArgs.cs
Labels: none

fix: CustomItem Spawn Command (#411)
  EXILED/Exiled.CustomItems/Commands/Spawn.cs
Labels: CustomModules

feat: PR-133-FakeAppearance (#402)
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Extensions/ReflectionExtensions.cs
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Roles/FpcRole.cs
  EXILED/Exiled.API/Features/Roles/HumanRole.cs
  EXILED/Exiled.API/Features/Roles/Role.cs
  EXILED/Exiled.API/Features/Roles/Scp0492Role.cs
  EXILED/Exiled.API/Features/Roles/Scp1507Role.cs
  EXILED/Exiled.Events/EventArgs/Player/SendingRoleEventArgs.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Generic/RoleAppearance.cs
Labels: API, Transpiler

Revert "feat: PR-133-FakeAppearance (#402)"
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Extensions/ReflectionExtensions.cs
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Roles/FpcRole.cs
  EXILED/Exiled.API/Features/Roles/HumanRole.cs
  EXILED/Exiled.API/Features/Roles/Role.cs
  EXILED/Exiled.API/Features/Roles/Scp0492Role.cs
  EXILED/Exiled.API/Features/Roles/Scp1507Role.cs
  EXILED/Exiled.Events/EventArgs/Player/SendingRoleEventArgs.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Generic/RoleAppearance.cs
Labels: API, Transpiler

v9.5.0
  EXILED/EXILED.props
Labels: none

fix: `Room::NearestRooms` fix (#417)
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.Events/Patches/Generic/DoorList.cs
Labels: API, Transpiler

fix: Fixes Custom Weapon Reload (#418)
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: CustomModules

feat: UserTextInputSetting and SliderSetting (#416)
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
  EXILED/Exiled.API/Features/Core/UserSettings/SliderSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/UserTextInputSetting.cs
Labels: API

fix: Potential Error Fix With Custom Weapon Reloading (#421)
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: CustomModules

fix: Fix Custom Roles Lagging Back When Spawning (#428)
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: CustomModules

feat: send to player specific settings (#432)
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

fix: Npc cant get flashed (#429)
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: Transpiler

feat: remove sex (#395)
  EXILED/Exiled.Loader/Features/LoaderMessages.cs
Labels: none

feat: Server.IsHeavilyModded is Obsolete (#419)
  EXILED/Exiled.API/Features/Server.cs
Labels: API

fix: Player Custom Firearm Reloading Exploit (#422)
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: CustomModules

fix: Add SCP-1344 Effect to IsPositive Extension (#426)
  EXILED/Exiled.API/Extensions/EffectTypeExtension.cs
Labels: API

feat: added GameObject and Transform properties to AdminToy (#431)
  EXILED/Exiled.API/Features/Toys/AdminToy.cs
  EXILED/Exiled.API/Features/Toys/ShootingTargetToy.cs
Labels: API

fix: Fixing TriggeringTesla not detecting NPC (#424)
  EXILED/Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: Transpiler

feat: Dynamic spawn location additions (#388)
  EXILED/Exiled.API/Enums/SpawnLocationType.cs
  EXILED/Exiled.API/Extensions/SpawnExtensions.cs
Labels: API

feat: Added ICommandSender to Kicking/Banning EventArgs (#436)
  EXILED/Exiled.Events/EventArgs/Player/BanningEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/KickingEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Banning.cs
  EXILED/Exiled.Events/Patches/Events/Player/Kicking.cs
Labels: Transpiler

fix: OnShooting target freeze (#438)
  EXILED/Exiled.Events/Patches/Events/Player/Shooting.cs
Labels: Transpiler

fix: randomized firearm attachments (#430)
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Pickups/FirearmPickup.cs
  EXILED/Exiled.Events/Patches/Generic/FirearmDistribution.cs
Labels: API, Transpiler

feat: Added method `Exiled.API.Features.Map.Clean` (#437)
  EXILED/Exiled.API/Features/Map.cs
Labels: API

fix: Fix NW Hypothermia bug (#441)
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
Labels: none

feat: Have NPC In Player List (#445)
  EXILED/Exiled.API/Features/Player.cs
Labels: API

feat: Spawning NPCs via RA adds them to the `Npc.List` (#440)
  EXILED/Exiled.Events/Patches/Fixes/RemoteAdminNpcCommandAddToDictionaryFix.cs
Labels: Transpiler, Base-Game-Bug

fix: IntercomSpeaking event (#442)
  EXILED/Exiled.Events/Patches/Events/Player/IntercomSpeaking.cs
Labels: Transpiler

9.5.1
  EXILED/EXILED.props
Labels: none

feat: Added a list of players who are turned away from SCP-939 AmnesticCloud (#446)
  EXILED/Exiled.API/Features/Roles/Scp939Role.cs
  EXILED/Exiled.Events/Config.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Patches/Generic/StayAtAmnesticCloud.cs
Labels: API, Transpiler

revert: "feat: Added a list of players who are turned away from SCP-939 AmnesticCloud" (#451)
  EXILED/Exiled.API/Features/Roles/Scp939Role.cs
  EXILED/Exiled.Events/Config.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Patches/Generic/StayAtAmnesticCloud.cs
Labels: API, Transpiler

feat: `Player::TryRemoveCandy(CandyKindID)` method (#448)
  EXILED/Exiled.API/Features/Player.cs
Labels: API

feat: Map.Broadcast(ushort, Func<Player, string>) overload. (#447)
  EXILED/Exiled.API/Features/Map.cs
Labels: API

fix: InvalidCamera in CameraType Enum (#453)
  EXILED/Exiled.API/Enums/CameraType.cs
  EXILED/Exiled.API/Features/Camera.cs
Labels: API

docs: Broadcast description fix (#455)
  EXILED/Exiled.API/Features/Broadcast.cs
Labels: API

feat: Add Message API (#454)
  EXILED/Exiled.API/Enums/MessageType.cs
  EXILED/Exiled.API/Features/Message.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

fix: Fix ci locker spawns (#450)
  EXILED/Exiled.API/Enums/LockerType.cs
  EXILED/Exiled.API/Extensions/LockerExtensions.cs
  EXILED/Exiled.API/Features/Lockers/Chamber.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/Exiled.API/Features/Spawn/LockerSpawnPoint.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
Labels: API, CustomModules

typo for EzShelter `rfoom`
  EXILED/Exiled.API/Enums/RoomType.cs
Labels: API

docs: Typo in DoorLockType.cs (#457)
  EXILED/Exiled.API/Enums/DoorLockType.cs
Labels: API

fix: CurrentItem for MicroHID (#458)
  EXILED/Exiled.API/Features/Player.cs
Labels: API

docs: Grammatical Corrections for a EnableEffect (but it targets the right branch) (#460)
  EXILED/Exiled.API/Features/Player.cs
Labels: API
