Repository skyfr0676/EXILED, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, GitHub, API, Transpiler, Base-Game-Bug, CustomModules, Installer

Round end fix (#232)
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Transpiler

OnlyWayToCheckThis
  EXILED/Exiled.API/Features/Window.cs
Labels: API

Delete Exiled.API (#280)
  EXILED/Exiled.Loader/Loader.cs
Labels: none

fix: player comparison (#279)
  EXILED/Exiled.API/Features/Player.cs
Labels: API

Add Scp1344 Events and Scp1344 Item (#264)
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Scp1344.cs
  EXILED/Exiled.Events/EventArgs/Interfaces/IScp1344Event.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/ChangedStatusEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/ChangingStatusEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/DeactivatedEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/DeactivatingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1344/TryingDeactivatingEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp1344.cs
  EXILED/Exiled.Events/Patches/Events/Scp1344/Deactivating.cs
  EXILED/Exiled.Events/Patches/Events/Scp1344/Status.cs
Labels: API, Transpiler

fix: on shot event (#278)
  EXILED/Exiled.Events/EventArgs/Player/ShotEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shot.cs
Labels: Transpiler

fix: voice-chatting event (#281)
  EXILED/Exiled.Events/Patches/Events/Player/VoiceChatting.cs
Labels: Transpiler

Fix ChangingRoleAndSpawned (#282)
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
Labels: Transpiler

Exiled loader fix and version number display style change (#290)
  EXILED/Exiled.Loader/Loader.cs
  EXILED/Exiled.Loader/Updater.cs
Labels: none

Version bump
  EXILED/EXILED.props
Labels: none

MoreRoomType (#267)
  EXILED/Exiled.API/Enums/DoorType.cs
  EXILED/Exiled.API/Enums/RoomType.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
  EXILED/Exiled.API/Features/Room.cs
Labels: API

fix: no var (#292)
  EXILED/Exiled.Events/Patches/Events/Scp1344/Deactivating.cs
Labels: Transpiler

Removing typeLookupTable (#269)
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
Labels: CustomModules

Few fix of fix (#287)
  EXILED/Exiled.Events/Patches/Fixes/Fix106RegenerationWithScp244.cs
  EXILED/Exiled.Events/Patches/Fixes/NWFixDetonationTimer.cs
  EXILED/Exiled.Events/Patches/Fixes/PositionSpawnScp0492Fix.cs
  EXILED/Exiled.Events/Patches/Fixes/Scp3114FriendlyFireFix.cs
Labels: Transpiler, Base-Game-Bug

feat: timed waves (#286)
  EXILED/Exiled.API/Features/Waves/TimedWave.cs
  EXILED/Exiled.API/Features/Waves/WaveTimer.cs
Labels: API

New Shot patch (#289)
  EXILED/Exiled.Events/EventArgs/Player/ShotEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shot.cs
Labels: Transpiler

Update `Quaternion` (#295)
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Scp244.cs
  EXILED/Exiled.API/Features/Items/Scp330.cs
  EXILED/Exiled.API/Features/Items/Usable.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  EXILED/Exiled.API/Features/PrefabHelper.cs
  EXILED/Exiled.API/Features/Ragdoll.cs
Labels: API

Update project credits (#294)
  EXILED/EXILED.props
  EXILED/Exiled.API/Exiled.API.csproj
  EXILED/Exiled.Loader/Exiled.Loader.csproj
  EXILED/Exiled/Exiled.nuspec
Labels: GitHub, API

Add docs to some RoomType & remove types no longer present (#293)
  EXILED/Exiled.API/Enums/CameraType.cs
  EXILED/Exiled.API/Enums/DoorType.cs
  EXILED/Exiled.API/Enums/RoomType.cs
  EXILED/Exiled.API/Enums/SpawnLocationType.cs
  EXILED/Exiled.API/Extensions/SpawnExtensions.cs
  EXILED/Exiled.API/Features/Camera.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
  EXILED/Exiled.API/Features/Room.cs
Labels: API

docs: add EzStraightColumn type (#298)
  EXILED/Exiled.API/Enums/RoomType.cs
  EXILED/Exiled.API/Features/Room.cs
Labels: API

little nw fix again (#297)
  EXILED/Exiled.API/Features/Round.cs
Labels: API

change var
  EXILED/Exiled.Events/Patches/Events/Player/Shot.cs
Labels: Transpiler

fix: DroppingCandy event (#301)
  EXILED/Exiled.Events/EventArgs/Scp330/DroppingScp330EventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Scp330/DroppingCandy.cs
Labels: Transpiler

fix: ending round event (#304)
  EXILED/Exiled.Events/EventArgs/Server/EndingRoundEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Transpiler

Added Emotion Events and Player.Emotion (#257)
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangedEmotionEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingEmotionEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/Emotion.cs
Labels: API, Transpiler

Scp1344Item & move Prefabs (#235)
  EXILED/Exiled.API/Features/Doors/ElevatorDoor.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Scp1344.cs
  EXILED/Exiled.API/Features/Lift.cs
  EXILED/Exiled.API/Features/Toys/Light.cs
  EXILED/Exiled.API/Features/Toys/Primitive.cs
  EXILED/Exiled.API/Features/Toys/ShootingTargetToy.cs
  EXILED/Exiled.API/Features/Toys/Speaker.cs
  EXILED/Exiled.API/Features/Toys/ToysHelper.cs
  EXILED/Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: API

New Shooting patch (#249)
  EXILED/Exiled.Events/EventArgs/Player/ShootingEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Shooting.cs
Labels: Transpiler

Fix OnItemRemoved (#305)
  EXILED/Exiled.Events/Handlers/Player.cs
Labels: none

these are definitely weapons as well (#167)
  EXILED/Exiled.API/Features/Items/Item.cs
Labels: API

Respawn API changes (#246)
  EXILED/Exiled.API/Enums/SpawnableFaction.cs
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Respawn.cs
Labels: API

New NPC Api (#241)
  EXILED/Exiled.API/Features/Npc.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

Making TargetsToAffect a Hashset (#123)
  EXILED/Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Map/BreakingScp2176.cs
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: Transpiler

Fix BeginOvercharge (#308)
  EXILED/Exiled.API/Features/Recontainer.cs
Labels: API

Server RoundEnding small change (#306)
  EXILED/Exiled.Events/EventArgs/Server/EndingRoundEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Transpiler

New game update (#310)
  EXILED/Exiled.API/Extensions/RoleExtensions.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Respawn.cs
  EXILED/Exiled.API/Features/Roles/HumanRole.cs
  EXILED/Exiled.API/Features/Waves/TimedWave.cs
  EXILED/Exiled.API/Features/Waves/WaveTimer.cs
  EXILED/Exiled.Events/EventArgs/Map/AnnouncingChaosEntranceEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/AnnouncingNtfEntranceEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/SelectingRespawnTeamEventArgs.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Map.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingChaosEntrance.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingNtfEntrance.cs
  EXILED/Exiled.Events/Patches/Events/Server/AddingUnitName.cs
  EXILED/Exiled.Events/Patches/Events/Server/SelectingRespawnTeam.cs
Labels: API, Transpiler

bump
  EXILED/EXILED.props
Labels: none

ci: add a new workflow to validate pr title (#312)
  .github/workflows/pull_request_opened.yml
Labels: GitHub

refactor: missing branches target
  .github/workflows/pull_request_opened.yml
Labels: GitHub

ci: add a new workflow to validate pr title (#312)
  .github/workflows/pull_request_opened.yml
Labels: GitHub

refactor: missing branches target
  .github/workflows/pull_request_opened.yml
Labels: GitHub

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: docs/** # Any modifications to Documentation
  - any-glob-to-any-file: EXILED/Localization/** # Any modifications to Localization

GitHub:
- changed-files:
  - any-glob-to-any-file: '**/*.nuspec' #NuGet
  - any-glob-to-any-file: '**/*.ps1' # Windows
  - any-glob-to-any-file: '**/*.sh' # Linux
  - any-glob-to-any-file: .github/** # Any modifications to github related files

Events: # Add the 'Events' label
- all:
    - changed-files:
        - any-glob-to-any-file: 'EXILED/Exiled.Events/**/*'
        - all-globs-to-all-files: '!EXILED/Exiled.Events/Patches/**/*'
API: # Add the 'API' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.API/** # Any modifications to the API

Transpiler: # Add the 'transpiler' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/**/* # Any modifications to transpiler files

Base-Game-Bug:
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/Fixes/**/* # Any modifications to transpiler fixes files

CustomModules: # Add the 'CustomModules' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Custom*/** # Any modifications to Exiled.Custom* file

Installer: # Add the 'Installer' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Installer/** # Any modifications to the Installer
