Repository skyfr0676/EXILED, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, GitHub, API, Transpiler, Base-Game-Bug, CustomModules, Installer

update NW Fix
  EXILED/Exiled.Events/Patches/Fixes/Jailbird914CoarseFix.cs
  EXILED/Exiled.Events/Patches/Fixes/OptimiseNWPocketDimensionGenerator.cs
  EXILED/Exiled.Events/Patches/Fixes/WeaponAttachmentDesyncFix.cs
Labels: Transpiler, Base-Game-Bug

OpeningGift DynamicPatching fix
  EXILED/Exiled.Events/Patches/Events/Scp2536/OpeningGift.cs
Labels: Transpiler

fix: FixNWDisarmCommand (#351)
  EXILED/Exiled.Events/Patches/Fixes/FixNWDisarmCommand.cs
Labels: Transpiler, Base-Game-Bug

Rewrote ChangingAttachments transpiler (#347)
  EXILED/Exiled.Events/EventArgs/Item/ChangingAttachmentsEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Item/ChangingAttachments.cs
Labels: Transpiler

Real 9.1.1
  EXILED/EXILED.props
Labels: none

feat/fix: remove unneeded patch & fix NRE
  EXILED/Exiled.Events/Patches/Generic/RoomLightControllersList.cs
Labels: Transpiler

fix: SS NullReferenceException (#352)
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

fix: SetFakeScale doesnt execute with currentScale (#353)
  EXILED/Exiled.API/Features/Player.cs
Labels: API

feat(ActivatingEventArgs): KnobStatus (#193)
  EXILED/Exiled.Events/EventArgs/Scp914/ActivatingEventArgs.cs
Labels: none

refactor: Modify Item::Create(ItemType) (#355)
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
Labels: API

fix: Snow Ball & Coal not being throwable when create by Exiled (#354)
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
Labels: API

feat: `[Exiled::API]` StopDancing and StartDancing for SCP-3114 Role (#189)
  EXILED/Exiled.API/Features/Roles/Scp3114Role.cs
  EXILED/Exiled.Events/Patches/Fixes/ServerSideDancesPatch.cs
  EXILED/Exiled.Example/Commands/Test.cs
Labels: API, Transpiler, Base-Game-Bug

feat: Add and remove influence (#330)
  EXILED/Exiled.API/Features/Respawn.cs
Labels: API

fix: LockerSpawnpoint in CustomItem (#358)
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
Labels: API, CustomModules

(change Exiled.Example)
  EXILED/Exiled.Example/Events/PlayerHandler.cs
  EXILED/Exiled.Example/Example.cs
Labels: none

feat(fix): related things (#336)
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Barrel/PumpBarrelMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Primary/NormalMagazine.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/MicroHid.cs
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.Events/Patches/Fixes/ServerHubMicroHidFix.cs
  EXILED/Exiled.Events/Patches/Generic/AmmoDrain.cs
  EXILED/Exiled.Events/Patches/Generic/RoomLightControllersList.cs
  EXILED/Exiled.Events/Patches/Generic/RoomList.cs
Labels: API, Transpiler, Base-Game-Bug

fix: Fixing merged pr 189 & #342 & #355 (#359)
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Roles/Scp3114Role.cs
  EXILED/Exiled.Events/EventArgs/Scp3114/DancingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/RespawningTeam.cs
  EXILED/Exiled.Events/Patches/Fixes/ServerSideDancesPatch.cs
Labels: API, Transpiler, Base-Game-Bug

version bump
  EXILED/EXILED.props
Labels: none

fix: no damage to players from grenade thrown by dead player
  EXILED/Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: Transpiler

fix: SSSS NRE fix
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

fix: respawningteam nre fix
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
Labels: none

fix: fix spacing
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
Labels: none

feat: Fetching dev (#361)
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
  EXILED/Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  EXILED/Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: API, Transpiler

version bump
  EXILED/EXILED.props
Labels: none

first add of the event
  EXILED/Exiled.Events/EventArgs/Item/DisruptorFiringEventArgs.cs
  EXILED/Exiled.Events/Handlers/Item.cs
  EXILED/Exiled.Events/Patches/Events/Item/DisruptorFiring.cs
Labels: Transpiler

docs: Update Light Toy property descriptions (#365)
  EXILED/Exiled.API/Features/Toys/Light.cs
Labels: API

doc
  EXILED/Exiled.Events/Patches/Events/Scp2536/OpeningGift.cs
Labels: Transpiler

OnOppeningGift wrong Method Call
  EXILED/Exiled.Events/Patches/Events/Scp2536/OpeningGift.cs
Labels: Transpiler

SCPSL 14.0.1
  EXILED/Exiled.Loader/AutoUpdateFiles.cs
  EXILED/docs/articles/SCPSLRessources/NW_Documentation.md
Labels: none

v9.2.2
  EXILED/EXILED.props
Labels: none

fix: Exiled.API.Features.Scp914.Scp914InputObject return nothing & Exception in OnWaitingForPlayers (#367)
  EXILED/Exiled.API/Features/Scp914.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
Labels: API

fix: "OnDroppedAmmo" event does not trigger (#373)
  EXILED/Exiled.Events/Patches/Events/Player/DroppingAmmo.cs
Labels: Transpiler

fix!: Fixed MicroHID Dynamic Spawn Points and Lcz Reverse Door Fix (#370)
  EXILED/Exiled.API/Enums/SpawnLocationType.cs
  EXILED/Exiled.API/Extensions/SpawnExtensions.cs
Labels: API

fix: setting base deleting all other settings (#374)
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

feat: ``Lift::Get(ElevatorGroup)`` (#372)
  EXILED/Exiled.API/Features/Lift.cs
Labels: API

fix: PlacingBulletHoleEventArgs::Position (#377)
  EXILED/Exiled.Events/Patches/Events/Map/PlacingBulletHole.cs
Labels: Transpiler

fix: DryFiring fired constantly (#378)
  EXILED/Exiled.Events/Patches/Events/Player/DryFire.cs
Labels: Transpiler

fix: NPC Spawn using wrong SpawnType (#375)
  EXILED/Exiled.API/Features/Npc.cs
Labels: API

feat: Unbanned event addition (#185)
  EXILED/Exiled.Events/Patches/Events/Server/Unban.cs
Labels: Transpiler

feat: Adding CustomKeycard for CustomItems (#98)
  EXILED/Exiled.API/Extensions/BitwiseExtensions.cs
  EXILED/Exiled.CustomItems/API/Features/CustomKeycard.cs
Labels: API, CustomModules

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: docs/** # Any modifications to Documentation
  - any-glob-to-any-file: EXILED/Localization/** # Any modifications to Localization

GitHub:
- changed-files:
  - any-glob-to-any-file: '**/*.nuspec' #NuGet
  - any-glob-to-any-file: '**/*.ps1' # Windows
  - any-glob-to-any-file: '**/*.sh' # Linux
  - any-glob-to-any-file: .github/** # Any modifications to github related files

Events: # Add the 'Events' label
- all:
    - changed-files:
        - any-glob-to-any-file: 'EXILED/Exiled.Events/**/*'
        - all-globs-to-all-files: '!EXILED/Exiled.Events/Patches/**/*'
API: # Add the 'API' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.API/** # Any modifications to the API

Transpiler: # Add the 'transpiler' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/**/* # Any modifications to transpiler files

Base-Game-Bug:
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/Fixes/**/* # Any modifications to transpiler fixes files

CustomModules: # Add the 'CustomModules' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Custom*/** # Any modifications to Exiled.Custom* file

Installer: # Add the 'Installer' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Installer/** # Any modifications to the Installer
