Repository skyfr0676/EXILED, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, GitHub, API, Transpiler, Base-Game-Bug, CustomModules, Installer

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: docs/** # Any modifications to Documentation
  - any-glob-to-any-file: EXILED/Localization/** # Any modifications to Localization

GitHub:
- changed-files:
  - any-glob-to-any-file: '**/*.nuspec' #NuGet
  - any-glob-to-any-file: '**/*.ps1' # Windows
  - any-glob-to-any-file: '**/*.sh' # Linux
  - any-glob-to-any-file: .github/** # Any modifications to github related files

Events: # Add the 'Events' label
- all:
    - changed-files:
        - any-glob-to-any-file: 'EXILED/Exiled.Events/**/*'
        - all-globs-to-all-files: '!EXILED/Exiled.Events/Patches/**/*'
API: # Add the 'API' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.API/** # Any modifications to the API

Transpiler: # Add the 'transpiler' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/**/* # Any modifications to transpiler files

Base-Game-Bug:
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/Fixes/**/* # Any modifications to transpiler fixes files

CustomModules: # Add the 'CustomModules' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Custom*/** # Any modifications to Exiled.Custom* file

Installer: # Add the 'Installer' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Installer/** # Any modifications to the Installer

fix: NeverExistDoor (#462)
  EXILED/Exiled.API/Enums/DoorType.cs
Labels: API

docs: Broadcast description fix (#455)
  EXILED/Exiled.API/Features/Broadcast.cs
Labels: API

feat: StaffMessage(string, Player) (#461)
  EXILED/Exiled.API/Features/Map.cs
Labels: API

fix: animation curve extensions (#470)
  EXILED/Exiled.API/Extensions/CommonExtensions.cs
Labels: API

docs: Update Descriptions for AmnesiaItems and AmnesiaVision (#467)
  EXILED/Exiled.API/Enums/EffectType.cs
Labels: API

fix: Jailbird not getting Recheck Usage when setting it (#471)
  EXILED/Exiled.API/Features/Items/Jailbird.cs
Labels: API

feat: Add new event MicroHIDOpeningDoorEventArgs (#466)
  EXILED/Exiled.Events/EventArgs/Player/MicroHIDOpeningDoorEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/MicroHIDOpeningDoor.cs
Labels: Transpiler

doc: `SendingAdminChatMessageEventsArgs.IsAllowed`
  EXILED/Exiled.Events/EventArgs/Player/SendingAdminChatMessageEventsArgs.cs
Labels: none

feat: Add MicroHID exploding event (#465)
  EXILED/Exiled.Events/EventArgs/Interfaces/IMicroHIDEvent.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingMicroHIDStateEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ExplodingMicroHIDEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/UsingMicroHIDEnergyEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/ExplodingMicroHID.cs
  EXILED/Exiled.Events/Patches/Events/Player/UsingMicroHIDEnergy.cs
Labels: Transpiler

fix: PlayGunSound Extensions fix (#386)
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

feat: New Player::AddRegeneration method (#492)
  EXILED/Exiled.API/Features/Player.cs
Labels: API

fix: InvalidOperationException in UnregisterItems (#489)
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
Labels: CustomModules

feat: Warhead with more interaction (#494)
  EXILED/Exiled.API/Features/Warhead.cs
Labels: API

feat: AttackAbility HitEvents (#488)
  EXILED/Exiled.Events/EventArgs/Player/HitEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/Hit.cs
Labels: Transpiler

feat: changing connectors (#475)
  EXILED/Exiled.Events/EventArgs/Map/SpawningRoomConnectorEventArgs.cs
  EXILED/Exiled.Events/Handlers/Map.cs
  EXILED/Exiled.Events/Patches/Events/Map/SpawningRoomConnector.cs
Labels: Transpiler

feat: DisruptorFiring event addition (#362)
  EXILED/Exiled.Events/EventArgs/Item/DisruptorFiringEventArgs.cs
  EXILED/Exiled.Events/Handlers/Item.cs
  EXILED/Exiled.Events/Patches/Events/Item/DisruptorFiring.cs
Labels: Transpiler

fix: fixed npc health (#420)
  EXILED/Exiled.API/Features/Npc.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.CustomRoles/Commands/Give.cs
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: API, Transpiler, CustomModules

tkt pas
  EXILED/Exiled.Events/EventArgs/Scp173/AddingObserverEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp173/RemoveObserverEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp173.cs
  EXILED/Exiled.Events/Patches/Events/Scp173/Observers.cs
Labels: Transpiler

oopsie
  EXILED/Exiled.Events/Patches/Events/Scp173/Observers.cs
Labels: Transpiler
