Repository skyfr0676/EXILED, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, GitHub, API, Transpiler, Base-Game-Bug, CustomModules, Installer

fix: Fix FF for explosions (#383)
  EXILED/Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: Transpiler

feat: ShadowType (#382)
  EXILED/Exiled.API/Features/Toys/Light.cs
Labels: API

fix: remove var & fix FF for explosions
  EXILED/Exiled.Events/Patches/Events/Server/Unban.cs
  EXILED/Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: Transpiler

feat: DroppingAmmo, DroppedAmmo and InteractingDoor (#371)
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
  EXILED/Exiled.Events/EventArgs/Player/DroppedAmmoEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/DroppingAmmoEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/InteractingDoorEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/DroppingAmmo.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: Transpiler, CustomModules

fix: DoorType and RoomType for Checkpoint (#379)
  EXILED/Exiled.API/Features/Doors/Door.cs
  EXILED/Exiled.API/Features/Room.cs
Labels: API

feat: CustomStats (#363)
  EXILED/Exiled.API/Features/CustomHealthStat.cs
  EXILED/Exiled.API/Features/CustomStats/CustomHumeShieldStat.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

fix: NPC Spawn using wrong SpawnType (#375)
  EXILED/Exiled.API/Features/Npc.cs
Labels: API

feat: LockerType extension (#384)
  EXILED/Exiled.API/Enums/LockerType.cs
  EXILED/Exiled.API/Extensions/LockerExtensions.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
Labels: API

feat: Fix OnInternalSpawning & Added ChargingJailbird setter (by BlackSerperior6) (#368)
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.Events/EventArgs/Item/ChargingJailbirdEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Item/JailbirdPatch.cs
Labels: Transpiler, CustomModules

feat: `ExplodingGrenadeEventArgs::ExplosionType` (#385)
  EXILED/Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
Labels: Transpiler

feat: Fetching Dev (#387)
  EXILED/Exiled.API/Enums/LockerType.cs
  EXILED/Exiled.API/Extensions/BitwiseExtensions.cs
  EXILED/Exiled.API/Extensions/LockerExtensions.cs
  EXILED/Exiled.API/Features/CustomHealthStat.cs
  EXILED/Exiled.API/Features/CustomStats/CustomHumeShieldStat.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
  EXILED/Exiled.API/Features/Lift.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.API/Features/Toys/Light.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
  EXILED/Exiled.CustomItems/API/Features/CustomKeycard.cs
  EXILED/Exiled.CustomRoles/API/Features/CustomRole.cs
  EXILED/Exiled.Events/EventArgs/Item/ChargingJailbirdEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/DroppedAmmoEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/DroppingAmmoEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/InteractingDoorEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Item/JailbirdPatch.cs
  EXILED/Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
  EXILED/Exiled.Events/Patches/Events/Map/PlacingBulletHole.cs
  EXILED/Exiled.Events/Patches/Events/Player/DroppingAmmo.cs
  EXILED/Exiled.Events/Patches/Events/Player/DryFire.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingDoor.cs
  EXILED/Exiled.Events/Patches/Events/Server/Unban.cs
Labels: API, Transpiler, CustomModules

release update
  EXILED/EXILED.props
Labels: none

feat: elevator arrived event (#380)
  EXILED/Exiled.Events/EventArgs/Map/ElevatorSequencesUpdatedEventArgs.cs
  EXILED/Exiled.Events/Handlers/Map.cs
  EXILED/Exiled.Events/Patches/Events/Map/ElevatorSequencesUpdated.cs
Labels: Transpiler

add <remarks>
  EXILED/Exiled.Events/EventArgs/Item/DisruptorFiringEventArgs.cs
  EXILED/Exiled.Events/Handlers/Item.cs
Labels: none

Update for 14.0.2
  EXILED/Exiled.Loader/AutoUpdateFiles.cs
  EXILED/docs/articles/SCPSLRessources/NW_Documentation.md
Labels: none

fix: Crash from ChangeAppearance because of Flamingo (#390)
  EXILED/Exiled.API/Extensions/MirrorExtensions.cs
Labels: API

feat: Added SendingCommand event to Player (#163)
  EXILED/Exiled.Events/EventArgs/Player/SendingValidCommandEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/SentValidCommandEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/SendingValidGameConsoleCommand.cs
  EXILED/Exiled.Events/Patches/Events/Player/SendingValidRACommand.cs
Labels: Transpiler

fix: NRE on ``ElevatorSequencesUpdated::Lift`` (#393)
  EXILED/Exiled.API/Features/Lift.cs
  EXILED/Exiled.Events/Patches/Fixes/FixElevatorChamberAwake.cs
Labels: API, Transpiler, Base-Game-Bug

feat: Objective wrappers (#316)
  EXILED/Exiled.API/Enums/ObjectiveType.cs
  EXILED/Exiled.API/Features/Objectives/EscapeObjective.cs
  EXILED/Exiled.API/Features/Objectives/GeneratorActivatedObjective.cs
  EXILED/Exiled.API/Features/Objectives/HumanDamageObjective.cs
  EXILED/Exiled.API/Features/Objectives/HumanKillObjective.cs
  EXILED/Exiled.API/Features/Objectives/HumanObjective.cs
  EXILED/Exiled.API/Features/Objectives/Objective.cs
  EXILED/Exiled.API/Features/Objectives/ScpItemPickupObjective.cs
  EXILED/Exiled.Events/EventArgs/Server/CompletingObjectiveEventArgs.cs
  EXILED/Exiled.Events/Handlers/Server.cs
  EXILED/Exiled.Events/Patches/Events/Server/CompletingObjective.cs
Labels: API, Transpiler

fix: SL 14.0.2 IL Code (#392)
  EXILED/Exiled.Events/Patches/Events/Player/FirearmRequestReceived.cs
  EXILED/Exiled.Events/Patches/Events/Player/ReloadingWeapon.cs
  EXILED/Exiled.Events/Patches/Events/Player/UnloadingWeapon.cs
Labels: Transpiler

doc: Only availaible for Christmas and AprilFools (#394)
  EXILED/Exiled.API/Enums/EffectType.cs
  EXILED/Exiled.API/Extensions/EffectTypeExtension.cs
  EXILED/Exiled.API/Features/Roles/Scp1507Role.cs
Labels: API

Fix Error from #394
  EXILED/Exiled.API/Enums/EffectType.cs
  EXILED/Exiled.API/Extensions/EffectTypeExtension.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Roles/Role.cs
  EXILED/Exiled.API/Features/Roles/Scp1507Role.cs
  EXILED/Exiled.API/Features/Scp559.cs
  EXILED/Exiled.Events/EventArgs/Interfaces/IScp1507Event.cs
  EXILED/Exiled.Events/EventArgs/Interfaces/IScp559Event.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/AttackingDoorEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/ScreamingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/SpawningFlamingosEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/UsingTapeEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp559/InteractingScp559EventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp559/SpawningEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp1507.cs
  EXILED/Exiled.Events/Handlers/Scp559.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/AttackingDoor.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/Scream.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/SpawningFlamingos.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/TapeUsing.cs
  EXILED/Exiled.Events/Patches/Events/Scp559/Interacting.cs
  EXILED/Exiled.Events/Patches/Events/Scp559/Spawning.cs
  EXILED/Exiled.Events/Patches/Generic/Scp559List.cs
Labels: API, Transpiler

Remove French comment
  EXILED/Exiled.API/Features/Roles/Role.cs
Labels: API

9.4.0
  EXILED/EXILED.props
Labels: none

feat: DeadmanSwitchEventAndAPI (#389)
  EXILED/Exiled.API/Features/Warhead.cs
  EXILED/Exiled.Events/EventArgs/Warhead/DeadmanSwitchInitiatingEventArgs.cs
  EXILED/Exiled.Events/Handlers/Warhead.cs
  EXILED/Exiled.Events/Patches/Events/Warhead/DeadmanSwitchStart.cs
Labels: API, Transpiler

feat: Recoded Player.OnPreAuthenticating wia patch (#159)
  EXILED/Exiled.Events/EventArgs/Player/PreAuthenticatingEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/PreAuthenticating.cs
Labels: Transpiler

not used System.Memory package
  EXILED/Exiled.API/Exiled.API.csproj
  EXILED/docs/docs.csproj
Labels: API

Obsoleted Value that do not exist in game anymore (#404)
  EXILED/Exiled.API/Enums/DoorType.cs
  EXILED/Exiled.API/Enums/SpawnLocationType.cs
  EXILED/Exiled.API/Extensions/SpawnExtensions.cs
  EXILED/Exiled.API/Features/Doors/Door.cs
Labels: API

fix: Firearm::IsAimingPR362 Non Breaking Change IAdsModule (#405)
  EXILED/Exiled.API/Features/Items/Firearm.cs
Labels: API

feat: Pr133 Usable change (#403)
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Usable.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  EXILED/Exiled.API/Features/Player.cs
Labels: API

feat: Fix Reload & Unload & ClipSize & Added Reloaded & UnLoaded (#398)
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
  EXILED/Exiled.Events/EventArgs/Player/ReloadedWeaponEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/UnloadedWeaponEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/ReloadedAndUnloaded.cs
  EXILED/Exiled.Events/Patches/Events/Player/ReloadingWeapon.cs
Labels: API, Transpiler, CustomModules

[CENSORED]
  EXILED/Exiled.Events/EventArgs/Player/ReloadingWeaponEventArgs.cs
Labels: none

Fix Link
  .github/documentation/GettingStarted.md
  .github/documentation/localization/GettingStarted-BR.md
  .github/documentation/localization/GettingStarted-FR.md
  .github/documentation/localization/GettingStarted-KR.md
  .github/documentation/localization/GettingStarted-ไทย.md
  .github/documentation/localization/README-BR.md
  .github/documentation/localization/README-CS.md
  .github/documentation/localization/README-DE.md
  .github/documentation/localization/README-DK.md
  .github/documentation/localization/README-ES.md
  .github/documentation/localization/README-FR.md
  .github/documentation/localization/README-IT.md
  .github/documentation/localization/README-KR.md
  .github/documentation/localization/README-PL.md
  .github/documentation/localization/README-TR.md
  .github/documentation/localization/README-Русский.md
  .github/documentation/localization/README-ไทย.md
  .github/documentation/localization/README-中文.md
Labels: GitHub

Update events.md
  EXILED/docs/articles/plugins/events.md
Labels: none

Update structure.md
  EXILED/docs/articles/plugins/structure.md
Labels: none

feat: PR 133 / Added Scp079 Signal Event (#400)
  EXILED/Exiled.Events/EventArgs/Scp079/LosingSignalEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp079/LostSignalEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp079/StartingSpeakerEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp079/StoppingSpeakerEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp079.cs
  EXILED/Exiled.Events/Patches/Events/Scp079/Lost.cs
Labels: Transpiler

feat: PR133 Squashed Scp939EventChange (#401)
  EXILED/Exiled.API/Enums/Scp939VisibilityStates.cs
  EXILED/Exiled.Events/EventArgs/Scp939/CreatedAmnesticCloudEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp939/ValidatingVisibilityEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp939.cs
  EXILED/Exiled.Events/Patches/Events/Scp939/CreatedAmnesticCloud.cs
  EXILED/Exiled.Events/Patches/Events/Scp939/ValidatingVisibility.cs
Labels: API, Transpiler

fix: Updated ItemExtension & Missing Obsolete (#409)
  EXILED/Exiled.API/Enums/ProjectileType.cs
  EXILED/Exiled.API/Extensions/ItemExtensions.cs
  EXILED/Exiled.API/Features/Coffee.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.Events/EventArgs/Player/DrinkingCoffeeEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/DrinkingCoffee.cs
  EXILED/Exiled.Events/Patches/Generic/CoffeeListAdd.cs
Labels: API, Transpiler

fix: ModifyEventNameBeforeRelease and Added new argument (#407)
  EXILED/Exiled.Events/EventArgs/Scp939/UpdatedCloudStateEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp939.cs
  EXILED/Exiled.Events/Patches/Events/Scp939/CreatedAmnesticCloud.cs
Labels: Transpiler

fix: FixNRE when ShootingTargetToy.Get(null) (#410)
  EXILED/Exiled.API/Features/Toys/ShootingTargetToy.cs
Labels: API

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: docs/** # Any modifications to Documentation
  - any-glob-to-any-file: EXILED/Localization/** # Any modifications to Localization

GitHub:
- changed-files:
  - any-glob-to-any-file: '**/*.nuspec' #NuGet
  - any-glob-to-any-file: '**/*.ps1' # Windows
  - any-glob-to-any-file: '**/*.sh' # Linux
  - any-glob-to-any-file: .github/** # Any modifications to github related files

Events: # Add the 'Events' label
- all:
    - changed-files:
        - any-glob-to-any-file: 'EXILED/Exiled.Events/**/*'
        - all-globs-to-all-files: '!EXILED/Exiled.Events/Patches/**/*'
API: # Add the 'API' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.API/** # Any modifications to the API

Transpiler: # Add the 'transpiler' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/**/* # Any modifications to transpiler files

Base-Game-Bug:
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/Fixes/**/* # Any modifications to transpiler fixes files

CustomModules: # Add the 'CustomModules' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Custom*/** # Any modifications to Exiled.Custom* file

Installer: # Add the 'Installer' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Installer/** # Any modifications to the Installer
