Repository skyfr0676/EXILED, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, GitHub, API, Transpiler, Base-Game-Bug, CustomModules, Installer

fix/feat: some `Firearm` events (#275)
  EXILED/Exiled.Events/EventArgs/Player/AimingDownSightEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/DryfiringWeaponEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/TogglingWeaponFlashlightEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/Aiming.cs
  EXILED/Exiled.Events/Patches/Events/Player/DryFire.cs
  EXILED/Exiled.Events/Patches/Events/Player/TogglingWeaponFlashlight.cs
Labels: Transpiler

fix: fix respawning and selecting team events that make server crash (#313)
  EXILED/Exiled.API/Features/Waves/TimedWave.cs
  EXILED/Exiled.API/Features/Waves/WaveTimer.cs
  EXILED/Exiled.Events/EventArgs/Server/SelectingRespawnTeamEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Server/RespawningTeam.cs
  EXILED/Exiled.Events/Patches/Events/Server/SelectingRespawnTeam.cs
Labels: API, Transpiler

fix: announcing ntf/chaos entrance events (#314)
  EXILED/Exiled.Events/EventArgs/Map/AnnouncingChaosEntranceEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Map/AnnouncingNtfEntranceEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingChaosEntrance.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingNtfEntrance.cs
  EXILED/Exiled.Events/Patches/Events/Map/AnnouncingTeamEntrance.cs
Labels: Transpiler

feat: SSSS (Server Specific Settings System) (#251)
  EXILED/Exiled.API/Exiled.API.csproj
  EXILED/Exiled.API/Features/Core/UserSettings/ButtonSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/DropdownSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/HeaderSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/KeybindSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
  EXILED/Exiled.API/Features/Core/UserSettings/TextInputSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/TwoButtonsSetting.cs
  EXILED/Exiled.API/Interfaces/IWrapper.cs
  EXILED/Exiled.Events/Events.cs
  EXILED/Exiled.Events/Handlers/Internal/Round.cs
  EXILED/Exiled.Events/Patches/Events/Server/WaitingForPlayers.cs
Labels: API, Transpiler

feat: ChangingDisruptorMode event (#318)
  EXILED/Exiled.API/Enums/DisruptorMode.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingDisruptorModeEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingDisruptorMode.cs
Labels: API, Transpiler

feat!: Update for new release (#320)
  EXILED/Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
  EXILED/Exiled.API/Features/Items/Jailbird.cs
  EXILED/Exiled.API/Features/Items/MicroHid.cs
  EXILED/Exiled.API/Features/Pickups/MicroHIDPickup.cs
  EXILED/Exiled.CustomItems/API/Features/CustomGrenade.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingMicroHIDStateEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/UsingMicroHIDEnergyEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Map/FillingLocker.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingMicroHIDState.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingLocker.cs
  EXILED/Exiled.Events/Patches/Events/Player/UsingMicroHIDEnergy.cs
  EXILED/Exiled.Events/Patches/Events/Scp3114/Slapped.cs
  EXILED/Exiled.Events/Patches/Events/Scp939/PlayingFootstep.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
  EXILED/Exiled.Events/Patches/Fixes/LockerFixes.cs
Labels: API, Transpiler, Base-Game-Bug, CustomModules

где кондиции (#322)
  EXILED/Exiled.Events/Patches/Events/Player/UsingMicroHIDEnergy.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: Transpiler

fix: all (#323)
  EXILED/Exiled.API/Features/Items/MicroHid.cs
  EXILED/Exiled.API/Features/Pickups/MicroHIDPickup.cs
  EXILED/Exiled.Events/EventArgs/Player/UsingMicroHIDEnergyEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingMicroHIDState.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingLocker.cs
  EXILED/Exiled.Events/Patches/Events/Player/UsingMicroHIDEnergy.cs
Labels: API, Transpiler

bump: version 9.0.0
  EXILED/EXILED.props
Labels: none

XMAS NW_documentation
  EXILED/docs/articles/SCPSLRessources/NW_Documentation.md
Labels: none

feat: add Scp1507Role (#324)
  EXILED/Exiled.API/Features/Roles/Role.cs
  EXILED/Exiled.API/Features/Roles/Scp1507Role.cs
Labels: API

bump: xmas 9.0.1
  EXILED/EXILED.props
Labels: none

feat: [😭] Firearm `AmmoModules` Api (#288)
  EXILED/Exiled.API/Enums/RevolverChamberState.cs
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Barrel/AutomaticBarrelMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Barrel/BarrelMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Barrel/PumpBarrelMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Magazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Primary/CylinderMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Primary/NormalMagazine.cs
  EXILED/Exiled.API/Features/Items/FirearmModules/Primary/PrimaryMagazine.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Pickups/FirearmPickup.cs
  EXILED/Exiled.API/Features/Pickups/Pickup.cs
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.CustomItems/API/Features/CustomItem.cs
  EXILED/Exiled.CustomItems/API/Features/CustomWeapon.cs
  EXILED/Exiled.Events/EventArgs/Player/RotatingRevolverEventArgs.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/RotatingRevolver.cs
  EXILED/Exiled.Events/Patches/Generic/AmmoDrain.cs
  EXILED/Exiled.Example/Events/PlayerHandler.cs
Labels: API, Transpiler, CustomModules

fix water error being show
  EXILED/Exiled.API/Features/Components/CollisionHandler.cs
Labels: API

uh fix (#329)
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

Update SettingBase.cs (#332)
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
Labels: API

fix: several bug fixes (#334)
  EXILED/Exiled.Events/EventArgs/Interfaces/IItemEvent.cs
  EXILED/Exiled.Events/EventArgs/Item/ChargingJailbirdEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Item/SwingingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangedItemEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingDisruptorModeEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingMicroHIDStateEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ChangingRadioPresetEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/DroppingItemEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/InteractingElevatorEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ItemAddedEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ItemRemovedEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ThrowingRequestEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/ThrownProjectileEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/UsingMicroHIDEnergyEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp914/UpgradingInventoryItemEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/InteractingElevator.cs
  EXILED/Exiled.Events/Patches/Events/Player/SendingAdminChatMessage.cs
Labels: Transpiler

fix: Player comparing (`GetHashCode`) (#340)
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.Events/EventArgs/Player/SpawningEventArgs.cs
Labels: API

refactor: remove `SlownessFix` (#337)
  EXILED/Exiled.Events/Patches/Fixes/SlownessFix.cs
Labels: Transpiler, Base-Game-Bug

feat: Speaker update (#319)
  EXILED/Exiled.API/Features/Toys/Speaker.cs
Labels: API

fix: microhid events (#339)
  EXILED/Exiled.Events/EventArgs/Item/ChangingMicroHIDPickupStateEventArgs.cs
  EXILED/Exiled.Events/Handlers/Item.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingMicroHIDState.cs
Labels: Transpiler

ItemAddReason.AdminCommand has been choose
  EXILED/Exiled.API/Features/Player.cs
Labels: API

feat: Xmas 2024 from xmas 2023 (#325)
  EXILED/Exiled.API/Enums/DamageType.cs
  EXILED/Exiled.API/Enums/EffectType.cs
  EXILED/Exiled.API/Enums/SpawnReason.cs
  EXILED/Exiled.API/Extensions/DamageTypeExtensions.cs
  EXILED/Exiled.API/Extensions/EffectTypeExtension.cs
  EXILED/Exiled.API/Features/Coffee.cs
  EXILED/Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  EXILED/Exiled.API/Features/Map.cs
  EXILED/Exiled.API/Features/Scp3114Ragdoll.cs
  EXILED/Exiled.API/Features/Scp559.cs
  EXILED/Exiled.API/Features/Scp956.cs
  EXILED/Exiled.Events/EventArgs/Interfaces/IScp1507Event.cs
  EXILED/Exiled.Events/EventArgs/Interfaces/IScp559Event.cs
  EXILED/Exiled.Events/EventArgs/Player/DrinkingCoffeeEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/AttackingDoorEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/ScreamingEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp1507/SpawningFlamingosEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp2536/FindingPositionEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp2536/GrantingGiftEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp2536/OpeningGiftEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp559/InteractingScp559EventArgs.cs
  EXILED/Exiled.Events/EventArgs/Scp559/SpawningEventArgs.cs
  EXILED/Exiled.Events/Handlers/Internal/MapGenerated.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Handlers/Scp1507.cs
  EXILED/Exiled.Events/Handlers/Scp2536.cs
  EXILED/Exiled.Events/Handlers/Scp559.cs
  EXILED/Exiled.Events/Patches/Events/Player/DrinkingCoffee.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/AttackingDoor.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/Scream.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/SpawningFlamingos.cs
  EXILED/Exiled.Events/Patches/Events/Scp2536/FindingPosition.cs
  EXILED/Exiled.Events/Patches/Events/Scp2536/GrantingGift.cs
  EXILED/Exiled.Events/Patches/Events/Scp2536/OpeningGift.cs
  EXILED/Exiled.Events/Patches/Events/Scp559/Interacting.cs
  EXILED/Exiled.Events/Patches/Events/Scp559/Spawning.cs
  EXILED/Exiled.Events/Patches/Generic/CoffeeListAdd.cs
  EXILED/Exiled.Events/Patches/Generic/Scp559List.cs
  EXILED/Exiled.Events/Patches/Generic/Scp956Capybara.cs
Labels: API, Transpiler

fix: RoomLightControllersValue Fix (#346)
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.Events/Patches/Generic/RoomLightControllersList.cs
Labels: API, Transpiler

fix(feat theoretically): Many bugfixes (#338)
  EXILED/Exiled.API/Features/Items/Armor.cs
  EXILED/Exiled.API/Features/Items/ExplosiveGrenade.cs
  EXILED/Exiled.API/Features/Items/Firearm.cs
  EXILED/Exiled.API/Features/Items/FlashGrenade.cs
  EXILED/Exiled.API/Features/Items/Item.cs
  EXILED/Exiled.API/Features/Items/Jailbird.cs
  EXILED/Exiled.API/Features/Items/Keycard.cs
  EXILED/Exiled.API/Features/Items/Scp244.cs
  EXILED/Exiled.API/Features/Items/Usable.cs
  EXILED/Exiled.API/Features/Pickups/BodyArmorPickup.cs
  EXILED/Exiled.API/Features/Pickups/FirearmPickup.cs
  EXILED/Exiled.Events/Handlers/Player.cs
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  EXILED/Exiled.Events/Patches/Events/Player/DryFire.cs
  EXILED/Exiled.Events/Patches/Events/Server/RoundEnd.cs
  EXILED/Exiled.Events/Patches/Fixes/FixOnAddedBeingCallAfterOnRemoved.cs
Labels: API, Transpiler, Base-Game-Bug

fix: Reloading/Unloading weapon events (#343)
  EXILED/Exiled.Events/EventArgs/Player/ReloadingWeaponEventArgs.cs
  EXILED/Exiled.Events/EventArgs/Player/UnloadingWeaponEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/ReloadingWeapon.cs
  EXILED/Exiled.Events/Patches/Events/Player/UnloadingWeapon.cs
  EXILED/Exiled.Example/Events/PlayerHandler.cs
Labels: Transpiler

fix: Player.IsSpeaking and TeslaGate.IsPlayerInHurtRange (#341)
  EXILED/Exiled.API/Features/Player.cs
  EXILED/Exiled.API/Features/TeslaGate.cs
Labels: API

feat: Adding tape using event (#345)
  EXILED/Exiled.Events/EventArgs/Scp1507/UsingTapeEventArgs.cs
  EXILED/Exiled.Events/Handlers/Scp1507.cs
  EXILED/Exiled.Events/Patches/Events/Scp1507/TapeUsing.cs
Labels: Transpiler

RespawningTeam Fix Index (#342)
  EXILED/Exiled.Events/Patches/Events/Server/RespawningTeam.cs
Labels: Transpiler

Update README.md for German (#331)
  .github/README.md
Labels: GitHub

feat: Add RemainingDecontaminationTime property (#106)
  EXILED/Exiled.API/Features/Map.cs
Labels: API

fix: `[EXILED::Events]` Fixed the `ChangingRoleAndSpawned.ChangeInventory` NullReferenceException skill issue (#172)
  EXILED/Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  EXILED/Exiled.Loader/Loader.cs
Labels: Transpiler

Exiled 9.1.1
  EXILED/EXILED.props
Labels: none

Fixing Scp1507.AttackingDoor Patch (#348)
  EXILED/Exiled.Events/Patches/Events/Scp1507/AttackingDoor.cs
Labels: Transpiler

Fix FindingPosition Transpiller giving NULL
  EXILED/Exiled.Events/Patches/Events/Scp2536/FindingPosition.cs
Labels: Transpiler

Fix FindingPosition Patch Scp2536 never appear & version
  EXILED/EXILED.props
  EXILED/Exiled.Events/Patches/Events/Scp2536/FindingPosition.cs
Labels: Transpiler

Fix UnloadingWeapon Crash
  EXILED/Exiled.Events/EventArgs/Player/UnloadingWeaponEventArgs.cs
  EXILED/Exiled.Events/Patches/Events/Player/UnloadingWeapon.cs
Labels: Transpiler

feat: Add Chamber.IsOpen (#335)
  EXILED/Exiled.API/Exiled.API.csproj
  EXILED/Exiled.API/Features/Lockers/Chamber.cs
  EXILED/Exiled.API/Features/Lockers/Locker.cs
  EXILED/docs/articles/SCPSLRessources/NW_Documentation.md
Labels: API

fix: fix for SettingBase and OriginalDefinition nres (#333)
  EXILED/Exiled.API/Features/Core/UserSettings/ButtonSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/DropdownSetting.cs
  EXILED/Exiled.API/Features/Core/UserSettings/SettingBase.cs
  EXILED/Exiled.API/Features/Core/UserSettings/TwoButtonsSetting.cs
Labels: API

Fix Room Logic for FlickerableLight API (#350)
  EXILED/Exiled.API/Features/Room.cs
  EXILED/Exiled.Events/Patches/Generic/RoomList.cs
Labels: API, Transpiler

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: docs/** # Any modifications to Documentation
  - any-glob-to-any-file: EXILED/Localization/** # Any modifications to Localization

GitHub:
- changed-files:
  - any-glob-to-any-file: '**/*.nuspec' #NuGet
  - any-glob-to-any-file: '**/*.ps1' # Windows
  - any-glob-to-any-file: '**/*.sh' # Linux
  - any-glob-to-any-file: .github/** # Any modifications to github related files

Events: # Add the 'Events' label
- all:
    - changed-files:
        - any-glob-to-any-file: 'EXILED/Exiled.Events/**/*'
        - all-globs-to-all-files: '!EXILED/Exiled.Events/Patches/**/*'
API: # Add the 'API' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.API/** # Any modifications to the API

Transpiler: # Add the 'transpiler' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/**/* # Any modifications to transpiler files

Base-Game-Bug:
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Events/Patches/Fixes/**/* # Any modifications to transpiler fixes files

CustomModules: # Add the 'CustomModules' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Custom*/** # Any modifications to Exiled.Custom* file

Installer: # Add the 'Installer' label
- changed-files:
  - any-glob-to-any-file: EXILED/Exiled.Installer/** # Any modifications to the Installer
